html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
#root, #map, #mapUI {
  width: inherit;
  height: inherit;
  background-color: #FFF;
}

.chevron::before {
  color: #003b71;
  margin-left: -1.4em;
	border-style: solid;
	border-width: 1.2em 1.2em 0 0;
	content: '';
	display: inline-block;
	height: 2em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 2em;
}
